body {
    background-image: url("1703166356373.jpg");
    
}

.name {
    overflow: visible;
    color: rgba(139, 0, 123, 0.847);
    white-space: nowrap;
    font-size: 50px;
    animation:
        anima 40s linear infinite; 
        
}

/* .name:hover{
    color: blue;
    transition: 10s;
    -webkit-transform: rotate(2turn); */
/* } */

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent}
    50% { border-color: orange;}
}

@keyframes anima {
    from { transform: translateX(100%);}
    to { transform: translateX(-100%);}
}

.top {
    display: flex;
    flex-direction: row-reverse;
}

.top a{
    padding: 5px;
    margin: 10px;
    background-color: azure;
    text-decoration: none;
    margin-right: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25%;
}

.con {
    overflow: hidden;
    position: absolute;
    width: 80%;
    background-color: rgba(137, 43, 226, 0.038);
    top: 25%;
    left: 10%;
}

.social {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 60px;
}

.social a{
    margin: 20px;
    background-color: black;
}

.but {
    display: flex;
    flex-direction: column;
    width: 60px;
}

.but button{
    margin-bottom: 10px;
    height: 1.5em;
}

#clos {
    float: right;
    margin-bottom: -5px;
}

.skills {
    left: 12%;
    top: 10%;
    position: absolute;
    overflow: hidden;
    width: 0%;
    height: 80%;
    background-color: rgba(255, 248, 220, 0.706);
    /* content-visibility:hidden; */
    
}

.paragraph {
    font-size: 1.5em;
    animation: 
        typing 6s steps(40, end),
        blink-caret 0.75s step-end infinite;

}



/* .co {
    left: 12%;
    top: 10%;
    position: absolute;
    overflow: hidden;
    width: 0%;
    height: 80%;
    background-color: rgba(255, 248, 220, 0.706);  
} */

@media screen and (max-width: 480px) {
    .top {
        flex-direction: row;
    }

    .top a{
        margin-left: 5px;
        margin-right: 5px;
    }

    .social {
        position: fixed;
        flex-direction: row;
        width: 480px;
        left: 0px;
        bottom: 0px;
    }

    .paragraph {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        overflow-x: auto;
        font-size: 1.2em;
    }

    
}
